/* Стилизация аккордеона */
.accordion {
    margin: auto;
}

.accordion__details {
    width: 730px;
    height: 72px;
    background-color: var(--white);
    padding: 1em 0 1em 1em;
    border: 1px solid;
    border-color: var(--grey-3);
    margin: 10px;
    border-radius: 8px;
    overflow: hidden;
    transition: height 0.2s linear;
}

.accordion__details[open] {
    height: 144px;
}

.accordion__summary {
    padding: 1.5em 1.5em;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    outline: none;
    cursor: pointer;
    position: relative;
}

.accordion__summary::-webkit-details-marker {
    display: none;
}

details > summary {
    list-style: none;
}

.accordion__item {
    padding: 0 1em 1em 1em;
    margin-bottom: 8px;
}

.accordion__item:last-child {
    margin-bottom: 0;
}