.avatar {
    position: relative;
}

.avatar__container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
}

.avatar__image {
    object-fit: cover;
}