.skeleton {

}

.skeleton__body {
    /* temporary margin for testing */
    margin: 10px;
    padding: 24px;
    width: 579px;
    height: 192px;

    border: 1px solid var(--grey-3);
    box-sizing: border-box;
    border-radius: 8px;
    background: var(--white);
}

.skeleton__header__container {
    margin-bottom: 24px;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    align-items: flex-start;
}

.skeleton__body__container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.skeleton__line__container {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: flex-start;
}

.skeleton__circle {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: inline-block;

    background: var(--grey-2);
}

.skeleton__loading-line {
    width: 529px;
    height: 20px;
    border-radius: 2px;

    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

.skeleton__short-loading-line {
    width: 50%;
}

.skeleton__middle-loading-line {
    width: 70%;
}

.skeleton__long-loading-line {
    width: 100%;
}

.margin-left {
    margin-left: 16px;
}

.margin-bottom {
    margin-bottom: 10px;
}