.checkbox {
}

.checkbox__input {
    width: 1px;
    height: 1px;
    opacity: 0;
    pointer-events: none;
    outline: none;
    position: absolute;
}

.checkbox__state {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.checkbox__control {
    position: relative;
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 4px;
}

.checkbox__title {
    margin-left: 12px;

    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.5;
    color: var(--grey-4);
}

.checkbox__icon {
    width: 15px;
    height: 13px;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.checkbox__input:focus ~ .checkbox__state .checkbox__title {
    text-decoration: underline;
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
    background: var(--blue);
    border-color: var(--blue);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__icon {
    display: block;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
    color: var(--grey-2);
}